		{% include 'Admin/Head.html' %}
        <body>
            <div class="dt dx_100">
                <!-- 右侧 -->
                {% include 'Admin/Left.html' %}
                <!-- 左侧 -->
                <div class="w-kddx1_color">
                    {% include 'Admin/Top.html' %}
                    <!-- 内容 -->
                    <div class="w-100 p10 m0a pr m-t10">
                        <div class="w-100 p10 b-cfff pr yinying_xg">
                            <div class="page-container">
                                <div class="cl pd-5 bg-1 bk-gray mt-20">
                                    <span class="r">共有数据：
                                        <strong>{{ count }}</strong>条</span></div>
                                <div class="mt-20">
                                    <table class="table table-border table-bordered table-hover table-bg">
                                        <thead>
                                            <tr class="text-c">
                                                <th>管理员姓名</th>
                                                <th>管理员ID</th>
                                                <th>登录时间</th>
                                                <th>登录IP</th>
											</tr>
                                        </thead>
                                        <tbody>
										{% for value in data %}
                                            <tr class="text-c">
                                                <td>{{ value.admin_name }}</td>
                                                <td>{{ value.admin_id|member }}</td>
                                                <td>{{ value.login_time|date('Y-m-d H:i:s') }}</td>
                                                <td>{{ value.login_ip }}</td>
											</tr>
										{% endfor %}
                                        </tbody>
                                    </table>
										{% autoescape false %}
										{{ page }}
										{% endautoescape %}
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
                <!-- 内容 --></div>
        </body>
		{% include 'Admin/Foot.html' %}

</html>