                <script type="text/javascript">
					$(document).ready(function() {
                        $("[name='grzx0']").click(function() {
                            $("[name='grzx_0']").slideToggle();
                            $("[name='grzx0']").toggleClass("b-cfsys");
                        });

                        $("[name='grzx1']").click(function() {
                            $("[name='grzx_1']").slideToggle();
                            $("[name='grzx1']").toggleClass("b-cfsys");
                        });

                        $("[name='grzx2']").click(function() {
                            $("[name='grzx_2']").slideToggle();
                            $("[name='grzx2']").toggleClass("b-cfsys");
                        });

                        $("[name='grzx3']").click(function() {
                            $("[name='grzx_3']").slideToggle();
                            $("[name='grzx3']").toggleClass("b-cfsys");
                        });

                        $("[name='grzx4']").click(function() {
                            $("[name='grzx_4']").slideToggle();
                            $("[name='grzx4']").toggleClass("b-cfsys");
                        });
                    });
				</script>