                <div class="w-kddx_color">    
					<div class="dx_100">
                        <div>
                            <div class="gk_bb1"></div>
							{% for value in menu %}
                            <div class="fs_color">
                                <p class="b-cfsy">{{ value.title }}</p>
                                <div class="w1b-b1"></div>
								<ul style="display:none;">
								{% for value_boy in value.boy %}
                                    <a href="{{ value_boy.rule_url }}">
                                        <li>{{ value_boy.title }}</li></a>
								{% endfor %}
								</ul>
                            </div>
							{% endfor %}
                        </div>
                    </div>
                </div>