                <div class="w-kddx_color">    
					<div class="dx_100">
                        <div>
                            <div class="gk_bb1"></div>
                            <div class="fs_color">
                                <p class="b-cfsy">工作管理</p>
                                <div class="w1b-b1"></div>
                                <ul style="display:none;">
                                    <a href="{{ path_for('Matter') }}">
                                        <li>代办事项</li></a>
                                </ul>
                            </div>
                            <div class="fs_color">
                                <p class="b-cfsy">经纪人管理</p>
                                <div class="w1b-b1"></div>
                                <ul style="display:none;">
                                    <a href="{{ path_for('Members') }}">
                                        <li>经纪人列表</li></a>
                                    <a href="{{ path_for('MembersNCheck') }}">
                                        <li>申请列表</li></a>
                                    <a href="{{ path_for('MembersTree') }}">
                                        <li>经纪人目录</li></a>
                                    <a href="{{ path_for('Grade') }}">
                                        <li>升级记录</li></a>
                                </ul>
                            </div>
                            <div class="fs_color">
                                <p class="b-cfsy b-cfsys">财务管理</p>
                                <div class="w1b-b1"></div>
                                <ul style="display:none;">
                                    <a href="{{ path_for('CashsAdmin') }}">
                                        <li>提现记录</li></a>
                                    <a href="{{ path_for('NoCashsAdmin') }}">
                                        <li>提现审批</li></a>
                                    <a href="{{ path_for('InchargesAdmin') }}">
                                        <li>充值记录</li></a>
                                    <a href="{{ path_for('NoInchargesAdmin') }}">
                                        <li>充值审批</li></a>
                                    <a href="{{ path_for('TransfersAdmin') }}">
                                        <li>转账明细</li></a>
                                    <a href="{{ path_for('Reward') }}">
                                        <li>奖金明细</li></a>
                                    <a href="{{ path_for('OrderAdmin') }}">
                                        <li>收支统计</li></a>
                                </ul>
                            </div>
                            <div class="fs_color">
                                <p class="b-cfsy">管理员设置</p>
                                <div class="w1b-b1"></div>
                                <ul style="display:none;">
                                    <a href="{{ path_for('ConfigIndexAdmin') }}">
                                        <li>系统配置</li></a>
									<a href="{{ path_for('AdminsRoleAdd') }}">
                                        <li>角色设置</li></a>
                                    <a href="{{ path_for('AdminsList') }}">
                                        <li>管理员列表</li></a>
                                    <a href="{{ path_for('AdminsLoginLog') }}">
                                        <li>管理员登陆日志</li></a>
                                </ul>
                            </div>
                            <div class="fs_color">
                                <p class="b-cfsy">系统公告</p>
                                <div class="w1b-b1"></div>
                                <ul style="display:none;">
                                    <a href="{{ path_for('AnnouncementsAdmin') }}">
                                        <li>公告列表</li></a>
                                    <a href="{{ path_for('MessagesAdmin') }}">
                                        <li>留言回复</li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>