		{% include 'Admin/Head.html' %}
        <body>
            <div class="dt dx_100">
                <!-- 右侧 -->
                {% include 'Admin/Left.html' %}
                <!-- 左侧 -->
                <div class="w-kddx1_color">
                    {% include 'Admin/Top.html' %}
                    <!-- 内容 -->
                    <div class="w-100 p10 m0a pr m-t10">
                        <div class="w-100 p10 b-cfff pr yinying_xg">
                            <div class="page-container">
                                <div class="cl pd-5 bg-1 bk-gray mt-20">
                                    <span class="r">共有数据：
                                        <strong>{{ count }}</strong>条</span></div>
                                <div class="mt-20">
                                    <table class="table table-border table-bordered table-hover table-bg">
                                        <thead>
                                            <tr class="text-c">
                                                <th>获奖经纪人</th>
                                                <th>获奖经纪人编号</th>
                                                <th>获奖时间</th>
                                                <th>推荐经纪人编号</th>
												<th>推荐经纪人</th>
                                                <th>新经纪人编号</th>
												<th>新经纪人</th>
                                                <th>流动资金</th>
                                                <th>固定资金</th>
                                                <th>备注</th>
											</tr>
                                        </thead>
                                        <tbody>
										{% for value in data %}
                                            <tr class="text-c">
                                                <td>{{ value.accept_name }}</td>
                                                <td>{{ value.accept_id|member }}</td>
                                                <td>{{ value.time|date('Y-m-d H:i:s') }}</td>
                                                <td>{{ value.recommender_id|member }}</td>
                                                <td>{{ value.recommender_name }}</td>
                                                <td>{{ value.from_id|member }}</td>
                                                <td>{{ value.from_name }}</td>
                                                <td>￥{{ value.flow_money }}</td>
                                                <td>￥{{ value.freeze_money }}</td>
                                                <td>{{ value.type }}</td>
											</tr>
										{% endfor %}
                                        </tbody>
                                    </table>
										{% autoescape false %}
										{{ page }}
										{% endautoescape %}
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
                <!-- 内容 -->
			</div>
        </body>
		{% include 'Admin/Foot.html' %}
                <script type="text/javascript">$(function() {
                        $('.table-sort').dataTable({
                            "scrollX": true,
                            "lengthChange": false,
                            "searching": false,
                            "autoWidth": false,
                            "aoColumnDefs": [
                            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                            {
                                "orderable": false,
                                "aTargets": [0, 1, 2, 3, 4, 5, 6]
                            } // 制定列不参与排序
                            ]
                        });
                        $('.table-sort tbody').on('click', 'tr',
                        function() {
                            if ($(this).hasClass('selected')) {
                                $(this).removeClass('selected');
                            } else {
                                table.$('tr.selected').removeClass('selected');
                                $(this).addClass('selected');
                            }
                        });
                    });
				</script>
</html>