                    <div class="gk_bb">
                        <p class="fl lh_fsysh1">{{ title }}</p>
                        <div class="fr lhgd_fs">
                            <div class="fl m-rdaxiao_1">管理员：
                                <span>{{ user.admin_name }}</span></div>
                            <a href="{{ path_for('AdminsLogout') }}" class="b-ctb">
                                <img src="/static/images/tuchudenglu.png" /></a>
                        </div>
                    </div>