	{% include 'Head.html' %}  
	<body>
		<div class="dt dx_100">
			{% include 'Left.html' %}
			<div class="w-kddx1_color">
				{% include 'Top.html' %}
				<!-- 内容 -->
				<div class="w-80 m0a pr m-twzdax m-b80">
					<div class="w-100 b-cfff p20 m-t30 pr yinying_xg p-b20">
					<form action="{{ path_for('ToCash') }}" method="post" class="di-b m0a">
						<span>提现金额：
							<span>￥</span>
								<input type="text" name="cash_money"  id="" class="mh-p10-bc-o01 b0-bsn-c" placeholder="请填写金额"></input>
						</span>
						<span class="di-b m-t10  m-l20">支付密码：
								<input name="user_pass" class="mh-p10-bc-o01 b0-bsn-c" placeholder="请填写支付密码（二级）" type="password" />
						</span>
						<span class="di-b m-t10  m-l20">短信验证码：
								<input name="phone_verity" class="mh-p10-bc-o01 b0-bsn-c" placeholder="短信验证码：" type="password" />
						</span>
						<span class="di-b m-t10  m-l20">
								<button class="btn btn-small reset-code" id="send_verity" onclick="return false">获取验证码</button>
									<button class="btn btn-small reset-code" id="J_resetCode" style="display:none;" onclick="return false"><span id="J_second">60</span>秒后重发</button>
						</span>
						<span class="jhanniu_ys2" type="submit" value="" onclick="submitAjsx('post')">我要提现</span>
						
						<p class="f-s14_color m-t10"><span style="color:#d86464;">【注】</span>提现成功后，我们将收取提现金额{{ cash_fee }}%的个人所得税</p>
						</form>
					</div>
					<div class="w-100 b-cfff p20 m-t10 pr yinying_xg">
						<table class="w-100 dx_t-acolor">
							<tr class="tr_xm">
								<td class="w_tar1 t-ac">申请时间</td>
								<td class="w_tar1 t-ac">申请金额</td>
								<td class="w_tar1 t-ac">处理状态</td>
							</tr>
							{% for value in data %}
							<tr class="">
								<td class="w_tar1 t-ac">{{ value.cash_time|date('Y-m-d H:i:s') }}</td>
								<td class="w_tar1 t-ac">￥{{ value.cash_money }}</td>
								<td class="w_tar1 t-ac">{% if value.cash_status == 0 %}正在审核{% else %}审核成功{% endif %}</td>
							</tr>
							{% endfor %}
						</table>	
						{% autoescape false %}
						{{ page }}
						{% endautoescape %}
					</div>
				</div>
				<!-- 内容 -->
			</div>
		</div>
	</body>
	<script language="javascript" type="text/javascript"> 
		$(document).ready(function(){ 
			$('#send_verity').click(function(){
				data =ajaxSend("/common/verity","POST",{});
				if(data=='success') {
					$("phone").attr("readonly",true);
					resetCode();
				}
				return false;
			});
		});
	</script>
	{% include 'Foot.html' %}