<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			登陆
		</title>
		<link rel="stylesheet" type="text/css" href="/static/css/htmleaf-demo.css">
		<link rel="stylesheet" href="/static/css/Catalog.css" />	
		<link rel="stylesheet" href="/static/css/zTreeStyle/zTreeStyle.css" type="text/css">	
		<link rel="stylesheet" href="/static/css/common.css" type="text/css" />	
		<link rel="stylesheet" href="/static/css/menustyle.css">	
		<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />	
		<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
		
		<script type="text/javascript" src="/static/js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.ztree.core.js"></script>
		<script type="text/javascript" src="/static/js/jquery.ztree.excheck.js"></script>
		<script type="text/javascript" src="/static/lib/layer/2.1/layer.js"></script>
		<script type="text/javascript" src="/static/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="/static/js/layer.js"></script>
		<script src="/static/js/jstree.min.js"></script>	
		<script type="text/javascript" src="/static/js/formdata.js"></script>
		<script type="text/javascript" src="/static/js/ajax.whj.js"></script>
	</head>
	<body class="b-c-e0e">
	<!-- 头部 -->
	
		<main id="main" class="panel b-cff">
		
		
		<div class="w-100 b-cff   dn">
			<div class="w1170-lh20">
				<div class="fr lh-97 f-s18 ml-55">
					<div class="mr-55 co-f1 p10-0">杰成汽车经纪人管理系统</div>
				</div>
				
				<div style="clear:both;"></div>
			</div>
			<div style="clear:both;"></div>
		</div>
		<!-- 内容 -->
		<div class="w-100 b-image b-i-n" >
			<div class="w1170-lh20 p50-mt60">
				<div class="fr1 w350-b1-p26-pr-m70-dib-bc">
					<div class="c-mb26 fs16">
					登录
					<a href="{{ path_for('MembersReg') }}" class="fr c-mt4 fs14">注册帐号</a>
					</div>
					<form action="{{ path_for('MembersLoginDo') }}" id="form" method="post">
						<div class="c-mb15 fs16">
							<input type="text"  name="user_name" class="form-control bi-denglu br2 pl40" placeholder="输入您的账号"></input>
						</div>
						<div class="c-mb15 fs16">
							<input type="password" name="user_pass" class="form-control bi-denglu2 br2 pl40" placeholder="输入您的密码"></input>
						</div>
						<div class="c-mb15 fs16">
							<input style="width:39%;" type="text"   name="verity"  class="form-control bi-denglu2 br2 pl40 fl" placeholder="输入验证码"></input>
							<p class=" fr">
								<img class="w100h40 cp" src="{{ path_for('Captcha', {'name': 'ee' }) }}" onclick="this.src = this.src.split('?')[0]+'?rnd=' + Math.random();">
								<span class="f-s12">点击图片切换</span>
							</p>
						</div>
						<input class="jhanniu_ys1 bc-b1-bsn-c-txn bca8 pr" type="submit" value="登&nbsp录" onclick="return submitAjsx('post')" />
					</form>

				</div>
				<div style="clear:both;"></div>
			</div>

		</div>
<!-- 		<div class="w-100 t-ac">
				<img style="width:50%;" src="/static/images/jjr_1.jpg" />
				<img style="width:50%;" src="/static/images/jjr_2.jpg" />
				<img style="width:50%;" src="/static/images/jjr_3.jpg" />
			
		</div>
		<div class="w-80 t-ac">
				<div class="fl" style="width:50%;">
					<img  src="/static/images/qiche1.png" />
					<p style="font-size:24px; margin-top:20px;">标志308</p>
				</div>
				<div class="fr" style="width:50%;" >
					<img src="/static/images/qiche2.png" />
					<p style="font-size:24px; margin-top:20px;">众泰T600</p>
				</div>
				<div style="clear:both;"></div>
		</div>
		<div class="w-80 t-ac">
				<img class="w-100" src="/static/images/jjr_4.jpg" />
				<img class="w-100" src="/static/images/qcdk_1.jpg" />
				<img class="w-100" src="/static/images/qcdk_2.jpg" />
				<img class="w-100" src="/static/images/qcdk_3.jpg" />
				<img class="w-100" src="/static/images/qcdk_4.jpg" />
				<img class="w-100" src="/static/images/qcdk_5.jpg" />
				<img class="w-80" src="/static/images/qcdk_6.jpg" />
		</div> -->
		<div class="w100-h252 ">

			<div class="lh24-ha-c-p8"  style="background:none;">

			</div>
		
		</div>
		</main>
	
	</body>
</html>
