	{% include 'Head.html' %}  
	<body>
		<div class="dt dx_100">
			{% include 'Left.html' %}
			<div class="w-kddx1_color">
				{% include 'Top.html' %}
				<!-- 内容 -->
				<div class="w-90 m0a pr m-twzdax  m-b80">
					<div class="w-100 b-cfff p20 m-t30 pr yinying_xg" id="a2">
						<p class="bb_1d6dxwz">架构图</p>
						<div class="t-ac">
							<div class=" di-b m0a yj_wgt">
								<div id="a1" class="yj_wgt-1">
									<p class=" f-s13_lh b-c9e">{{ data.data.info.id|default('空位')|member }}</p>
									<p class=" f-s16_lh">{{ data.data.info.real_name|default('点击添加') }}</p>
								</div>
							</div>
						</div>
						<div class="t-ac m-t30 ">
							<div class=" di-b m0a yj_wgt pr xiantiao_1">
								<div class="yj_wgt-1">
									<p class=" f-s13_lh b-c9e">{{ data.data.next.0.info.id|default('空位')|member }}</p>
									<p class=" f-s16_lh">{{ data.data.next.0.info.real_name|default('点击添加') }}</p>
								</div>
							</div>
							<div class=" di-b m0a yj_wgt pr xiantiao_2" style="margin-left:190px;">
								<div class="yj_wgt-1">
									<p class=" f-s13_lh b-c9e">{{ data.data.next.1.info.id|default('空位')|member }}</p>
									<p class=" f-s16_lh">{{ data.data.next.1.info.real_name|default('点击添加') }}</p>
								</div>
							</div>
							<div class=" di-b m0a yj_wgt m-l20 pr xiantiao_3" style="margin-left:190px;">
								<div class="yj_wgt-1">
									<p class=" f-s13_lh b-c9e">{{ data.data.next.2.info.id|default('空位')|member }}</p>
									<p class=" f-s16_lh">{{ data.data.next.2.info.real_name|default('点击添加') }}</p>
								</div>
							</div>
						</div>
						<div class="t-ac m-t30 p-b20">
						<!--  -->
							<div class=" di-b m0a yj_wgt pr xiantiao_1 xiantiao_1-1">
								<div class="yj_wgt-1">
									<p class=" f-s13_lh b-c9e">{{ data.data.next.0.next.info.0.id|default('空位')|member }}</p>
									<p class=" f-s16_lh">{{ data.data.next.0.next.info.0.real_name|default('点击添加') }}</p>
								</div>
							</div>
							<div class=" di-b m0a yj_wgt pr xiantiao_2">
								<div class="yj_wgt-1">
									<p class=" f-s13_lh b-c9e">{{ data.data.next.0.next.info.1.id|default('空位')|member }}</p>
									<p class=" f-s16_lh">{{ data.data.next.0.next.info.1.real_name|default('点击添加') }}</p>
								</div>
							</div>
							<div class=" di-b m0a yj_wgt pr xiantiao_3 xiantiao_1-1">
								<div class="yj_wgt-1">
									<p class=" f-s13_lh b-c9e">{{ data.data.next.0.next.info.2.id|default('空位')|member }}</p>
									<p class=" f-s16_lh">{{ data.data.next.0.next.info.2.real_name|default('点击添加') }}</p>
								</div>
							</div>
						<!--  -->
						<!--  -->
							<div class=" di-b m0a yj_wgt pr xiantiao_1 xiantiao_1-1">
								<div class="yj_wgt-1">
									<p class=" f-s13_lh b-c9e">{{ data.data.next.1.next.info.0.id|default('空位')|member }}</p>
									<p class=" f-s16_lh">{{ data.data.next.1.next.info.0.real_name|default('点击添加') }}</p>
								</div>
							</div>
							<div class=" di-b m0a yj_wgt pr xiantiao_2">
								<div class="yj_wgt-1">
									<p class=" f-s13_lh b-c9e">{{ data.data.next.1.next.info.1.id|default('空位')|member }}</p>
									<p class=" f-s16_lh">{{ data.data.next.1.next.info.1.real_name|default('点击添加') }}</p>
								</div>
							</div>
							<div class=" di-b m0a yj_wgt pr xiantiao_3 xiantiao_1-1">
								<div class="yj_wgt-1">
									<p class=" f-s13_lh b-c9e">{{ data.data.next.1.next.info.2.id|default('空位')|member }}</p>
									<p class=" f-s16_lh">{{ data.data.next.1.next.info.2.real_name|default('点击添加') }}</p>
								</div>
							</div>
						<!--  -->
						<!--  -->
							<div class=" di-b m0a yj_wgt pr xiantiao_1 xiantiao_1-1">
								<div class="yj_wgt-1">
									<p class=" f-s13_lh b-c9e">{{ data.data.next.2.next.info.0.id|default('空位')|member }}</p>
									<p class=" f-s16_lh">{{ data.data.next.2.next.info.0.real_name|default('点击添加') }}</p>
								</div>
							</div>
							<div class=" di-b m0a yj_wgt pr xiantiao_2">
								<div class="yj_wgt-1">
									<p class=" f-s13_lh b-c9e">{{ data.data.next.2.next.info.1.id|default('空位')|member }}</p>
									<p class=" f-s16_lh">{{ data.data.next.2.next.info.1.real_name|default('点击添加') }}</p>
								</div>
							</div>
							<div class=" di-b m0a yj_wgt pr xiantiao_3 xiantiao_1-1">
								<div class="yj_wgt-1">
									<p class=" f-s13_lh b-c9e">{{ data.data.next.2.next.info.2.id|default('空位')|member }}</p>
									<p class=" f-s16_lh">{{ data.data.next.2.next.info.2.real_name|default('点击添加') }}</p>
								</div>
							</div>
						<!--  -->
						</div>
					</div>
					<div class="w-100 b-cfff p20 m-t30 pr yinying_xg p-b20">
						<span class="f-s14_color"><span style="color:#d86464;">【注】</span>您可以点击架构图中的空位进行添加成员，也可以点击该按钮进行添加</span>
						<a class="" href="{{ path_for('MembersReg') }}" target="_blank"><span class="jhanniu_ys2">添加成员</span></a>
					</div>
				</div>
				<!-- 内容 -->
			</div>
		</div>
			<script>
				var data;
				var zNodes;
				$("#a2").children().children().children().click(function(){
					var value233=$(this).text().replace(/[\r\n]/g,"").replace(/[\t]/g,"");
					if(value233=="空位点击添加") {
						window.open('/members/reg');
					} else {
						data=$(this).text().replace(/[\t]/g,"");
						$.ajax({
							type: "post",
							async: false,
							data: {
								id: data
							},				
							url: "/team/teamoneinfo",
								success: function(data) {
									zNodes=JSON.parse(data);
								}
						});
						layer.alert(zNodes.data, {
							title: ['下级经纪人', 'font-size:18px;'],
						skin: 'layui-layer-lan',
						closeBtn: 1
						});
					}

				});
			</script>
	</body>
	{% include 'Foot.html' %}